@{
  ViewData["Title"] = "Create a Post | Page";
}

<div class="text-center">
  <h1 class="display-4">Create Post</h1>
  <form class="form">
    <fieldset>
      <label for="title-input">Title</label>
      <input id="title-input" type="text" />
    </fieldset>

    <fieldset>
      <label for="markdown-input">Markdown</label>
      <textarea id="markdown-input" type="textarea"></textarea>
    </fieldset>

    <button type="submit">Submit</button>
  </form>
</div>
