@{
  ViewData["Title"] = "Posts Page";
}

<div class="text-center">
  <h1 class="display-4">Posts</h1>
  <a class="nav-link text-dark" asp-area="" asp-controller="Posts" asp-action="Create">Create a Post</a>
  @* listing of posts *@
</div>
